header{
    background: white;

    .hero{
        background-image: url("../img/jumbotron.jpg");
        background-size: cover;
        height: 400px;
    }
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        text-align: center;
        padding: 1.2rem 0;
    }
    .nav ul{
        display: flex;
        align-items: center;
        justify-content: center;

        li{
            font-weight: 600;
            padding: 3.7rem 0.9rem;
            border-bottom: 5px solid transparent;
            
            &.active, &:hover{
                border-bottom-color: $main-color;
            }
        }
    }
}