main {
    background-color: $main-content-bg;
    padding-top: 20px;
    
    .container{
        position: relative;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        padding: 40px 0;
    }
    .current-series{
        position: absolute;
        top: -45px;
        left: -20px;
        background-color: $main-color;
        color: white;
        font-size: 25px;
        font-weight: 700;
        padding: 10px 25px;
    }
    .load-more-btn{
        display: block;
        margin: 0 auto;
        background-color: $main-color;
        color: white;
        border: none;
        padding: 8px 40px;
        font-size: 0.8rem;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .card{
        cursor: pointer;
        width: 100%;
        height: 280px;
        .card-image{
            height: 200px;
            aspect-ratio: 1;
            overflow: hidden;
            
            img{
                width: 100%;
                object-fit: contain;
                display: block;
            }
        }
        .card-text{
            padding: 10px 0;
            color: white;
            text-transform: uppercase;
        }
    }
    .shop-section {
        background-color: $main-color;
        display: flex;
        align-items: center;
        padding: 25px 0;
        .shop-container {
            width: 1500px;
            padding: 20px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
            .info-shop{
                cursor: pointer;
                display: flex;
                align-items: center;
                height: 70px;
                z-index: 1000;
                
                img {
                    height: 100%;
                }
                .shop-text {
                    padding-left: 20px;
                    color: white;
                } 
    
                &:hover img{
                    animation: bounce 0.6s linear;
                
                    @keyframes bounce {
                        0% {transform: scale(1);}
                        50% {transform: scale(1.2);}
                        100% {transform: scale(1);}
                    }
                }
            }
            .visa img {
                width: 80px;
            }  
        }
    }
}